{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-color: #f5f0e1;  /* creamy color */
    }
    .table {
        color: #4b3621;  /* dark coffee brown */
    }
    .table-hover tbody tr:hover {
        background-color: #e4d4b7;  /* light coffee brown */
    }
    .btn-coffee {
        background-color: #4b3621;  /* dark coffee brown */
        color: #f5f0e1;  /* creamy color */
    }
    .btn-coffee:hover {
        background-color: #5f4536;  /* slightly lighter coffee brown */
        color: #f5f0e1;  /* creamy color */
    }
    .btn-delete {
        background-color: #d9534f;  /* Bootstrap's danger color */
        color: #f5f0e1;  /* creamy color */
    }
    .btn-delete:hover {
        background-color: #c9302c;  /* slightly lighter danger color */
        color: #f5f0e1;  /* creamy color */
    }
    @media (max-width: 768px) {
        .table-responsive {
            border: 0;
        }
        .table thead {
            display: none; /* Hide the header on small screens */
        }
        .table, .table tbody, .table tr, .table td {
            display: block;
            width: 100%;
        }
        .table tr {
            margin-bottom: 15px;
        }
        .table td {
            text-align: right;
            position: relative;
            padding-left: 50%;
        }
        .table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left;
        }
    }
</style>

<div class="container mt-5">
    <h2>Espresso Logs</h2>
    <div class="table-responsive">
        <h5 id="tableTitle"></h5>
        <table class="table table-hover mt-4" id="logsTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Grind Size</th>
                    <th>Dose (g)</th>
                    <th>Yield (g)</th>
                    <th>Extraction Time (s)</th>
                    <th>Water Temp (°C)</th>
                    <th>Sourness/Bitterness</th>
                    <th>Strength</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="logsTableBody">
            </tbody>
        </table>
    </div>

    <button id="exportCsv" class="btn btn-coffee mt-4 mb-4">Export CSV</button>
    <button id="clearTable" class="btn btn-danger mt-4 mb-4">Clear Table</button>

    <h3>Manual Entry</h3><br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <input type="text" class="form-control" id="beanName" placeholder="Bean Name">
        </div>
        <div class="form-group col-md-2">
            <select class="form-control" id="roastLevel">
                <option selected="true" disabled="disabled" value="N/A">Roast Level </option>
                <option value="Light" style="background-color: #5c3735; color: #f5f0e1;">Light</option>
                <option value="Light-Medium" style="background-color: #52312f; color: #f5f0e1;">Light-Medium</option>
                <option value="Medium" style="background-color: #482b29; color: #f5f0e1;">Medium</option>
                <option value="Medium-Dark" style="background-color: #3d2523; color: #f5f0e1;">Medium-Dark</option>
                <option value="Dark" style="background-color: #331e1d; color: #f5f0e1;">Dark</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group col-md-2">
            <input type="number" class="form-control" id="grindSize" placeholder="Grind Size">
        </div>
        <div class="form-group col-md-2">
            <input type="number" class="form-control" id="dose" placeholder="Dose (g)">
        </div>
        <div class="form-group col-md-2">
            <input type="number" class="form-control" id="yieldAmt" placeholder="Yield (g)">
        </div>
        <div class="form-group col-md-2">
            <input type="number" class="form-control" id="extractionTime" placeholder="Extraction Time (s)">
        </div>
        <div class="form-group col-md-2">
            <input type="number" class="form-control" id="waterTemp" placeholder="Water Temp (°C)">
        </div>
        <div class="form-group col-md-2">
            <select class="form-control" id="sournessBitterness">
                <option selected="true" disabled="disabled" value="N/A">Sourness/Bitterness </option>
                <option value="1">1 (Sour)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Bitter)</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <select class="form-control" id="strength">
                <option selected="true" disabled="disabled" value="N/A">Strength </option>
                <option value="1">1 (Weak)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strong)</option>
            </select>
        </div>
    </div>
    <button id="addLog" class="btn btn-coffee mt-4 mb-4">Add Log</button><br>

    <h3>CSV Import</h3><br>
    <input type="file" id="csvFileInput" class="form-control-file">
    <button id="uploadCsv" class="btn btn-coffee mt-4 mb-4">Upload CSV</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addLogButton = document.getElementById("addLog");
        const clearTableButton = document.getElementById("clearTable");
        const logsTableBody = document.getElementById("logsTableBody");
        const csvFileInput = document.getElementById("csvFileInput");
        const uploadCsvButton = document.getElementById("uploadCsv");
        const exportCsvButton = document.getElementById("exportCsv");
        const tableTitle = document.getElementById("tableTitle");

        addLogButton.addEventListener("click", function() {
            const beanName = document.getElementById("beanName").value;
            const roastLevel = document.getElementById("roastLevel").value;
            const date = document.getElementById("date").value;
            const grindSize = document.getElementById("grindSize").value;
            const dose = document.getElementById("dose").value;
            const yieldAmt = document.getElementById("yieldAmt").value;
            const extractionTime = document.getElementById("extractionTime").value;
            const waterTemp = document.getElementById("waterTemp").value;
            const sournessBitterness = document.getElementById("sournessBitterness").value;
            const strength = document.getElementById("strength").value;

            tableTitle.textContent = `${beanName} - ${roastLevel}`;
            if (beanName == "") {
                tableTitle.textContent = "";
            }

            const row = document.createElement("tr");
            row.innerHTML = `
                <td>${date}</td>
                <td>${grindSize}</td>
                <td>${dose}</td>
                <td>${yieldAmt}</td>
                <td>${extractionTime}</td>
                <td>${waterTemp}</td>
                <td>${sournessBitterness}</td>
                <td>${strength}</td>
                <td><button class="btn btn-delete btn-sm">Delete</button></td>
            `;
            logsTableBody.appendChild(row);

            const deleteButton = row.querySelector(".btn-delete");
            deleteButton.addEventListener("click", function() {
                row.remove();
            });
        });

        clearTableButton.addEventListener("click", function() {
            logsTableBody.innerHTML = "";
            tableTitle.textContent = "";
        });

        uploadCsvButton.addEventListener("click", function() {
            const file = csvFileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const text = e.target.result;
                    const rows = text.split("\n").slice(4);
                    rows.forEach(row => {
                        const cols = row.split(",");
                        if (cols.length === 8) {
                            const newRow = document.createElement("tr");
                            newRow.innerHTML = `
                                <td>${cols[0]}</td>
                                <td>${cols[1]}</td>
                                <td>${cols[2]}</td>
                                <td>${cols[3]}</td>
                                <td>${cols[4]}</td>
                                <td>${cols[5]}</td>
                                <td>${cols[6]}</td>
                                <td>${cols[7]}</td>
                                <td><button class="btn btn-delete btn-sm">Delete</button></td>
                            `;
                            logsTableBody.appendChild(newRow);

                            const deleteButton = newRow.querySelector(".btn-delete");
                            deleteButton.addEventListener("click", function() {
                                newRow.remove();
                            });

                            // Update table title
                            if (tableTitle.textContent === "") {
                                const firstNonEmptyRow = text.split("\n")[0];
                                const [beanName, roastLevel] = firstNonEmptyRow.split(",");
                                tableTitle.textContent = `${beanName} - ${roastLevel}`;
                            }
                        }
                    });
                };
                reader.readAsText(file);
            }
        });

        exportCsvButton.addEventListener("click", function() {
            const rows = logsTableBody.querySelectorAll("tr");
            const csvContent = [
                `Bean Name,${tableTitle.textContent.split(" - ")[0]}`,
                `Roast,${tableTitle.textContent.split(" - ")[1]}`,
                ``,
                `Date,Grind Size,Dose (g),Yield (g),Extraction Time (s),Water Temp,Sourness/Bitterness,Strength`,
                ...Array.from(rows).map(row => 
                    Array.from(row.cells).slice(0, 8).map(cell => cell.textContent).join(",")
                )
            ].join("\n");

            const encodedUri = encodeURI("data:text/csv;charset=utf-8," + csvContent);
            const link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", `brew_brain_for_${tableTitle.textContent.replace(" - ", "_")}_${new Date().toISOString().slice(0, 10)}.csv`);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    });
</script>
{% endblock %}
